{% extends "layout.html" %}

{% block body %}

<link href="{{ url_for('static', filename='semantic/semantic.min.css') }}" rel="stylesheet" type="text/css" />

<link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.4.1/css/tabulator.min.css" rel="stylesheet">

<link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.4.1/css/semantic-ui/tabulator_semantic-ui.min.css" rel="stylesheet">


<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.4.1/js/tabulator.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.js"></script>


<!-- <script src="{{ url_for('static', filename='semantic/semantic.min.js') }}"></script> -->
{% if session.logged_in %}
<form action="{{ url_for('show_entries_filter') }}" method=post>
    <dl>
        <div class="ui fluid focus action input">
            <input type="text" name="filter" placeholder="Search..." value='{{ qfilter|safe }}'>
            <button class="ui button" type=submit>Search</button>
        </div>
        <!-- <dd><input type=submit value=Share> -->
    </dl>
</form>
{% endif %}

<a><h2>Edit Page - Sanc</h2> </a>
<div class="ui mini statistics">
  <div class="ui mini statistic">
    <div class="value">
      {{footer.tot}}
    </div>
    <div class="label">
      Ext
    </div>
  </div>
  <div class="ui mini statistic">
    <div class="value">
      {{footer.req}}
    </div>
    <div class="label">
      Req
    </div>
  </div>
  <div class="ui mini statistic">
    <div class="value">
      {{footer.san}}
    </div>
    <div class="label">
      San
    </div>
  </div>
</div>
 <div class="ui small inverted modal">
        <div class="ui icon header">
            <i class="archive icon"></i> Add Entry
        </div>
        <div class="content">
            <div id="dialog" title="Dialog Form">
                <div class="ui sub header">DSCD</div>
                <div class="ui fluid search labeled search icon button dropdown dscd_drop">
                     <i class="world icon"></i>
                    <div class="text"> Select DSCD</div>
                <i class="dropdown icon"></i>
                </div>
                <div class="ui sub header">UNIT</div>
             <div class="ui fluid search labeled search icon button dropdown unit_drop">
                     <i class="world icon"></i>
                    <div class="text"> Select Unit</div>
                <i class="dropdown icon"></i>
                </div>
                <div class="ui sub header">Entry values</div>
                <div class="ui left action input">
  <button class="ui teal labeled icon button">
    Req
  </button>
  <input value="0" id="entry_req" type="number">
</div>
<div class="ui left action input">
  <button class="ui teal labeled icon button">
    Sanc
  </button>
  <input value="0" id="entry_san" type="number">
</div>
<!--                 <label>Avg price:</label>
                <input id="avg_price" name="Avg Price" type="number">
                <label>Uuid:</label>
                <input id="uuid" name="Uuid" type="text">
 -->            </div>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i> No
            </div>
            <div class="ui green ok inverted button confirm_order">
                <i class="checkmark icon"></i> Confirm
            </div>
        </div>
    </div>
<div class="table-controls">
    <button id="add-row" >Add Row</button> 
          <!-- <button id="add-row">Add Row</button> -->
    </div>
<div id="example-table"></div>
<script type="text/javascript">
    //define some sample data
var tabledata = {{ entries|safe }};
var dscd_data = {{ dscd_json|safe }};
var unit_data = {{ unit_json|safe }};

//create Tabulator on DOM element with id "example-table"
$("#example-table").tabulator({
    height: 600, // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
    groupToggleElement: "header",
    layout: "fitColumns", //fit columns to width of table (optional)
    columns: [ //Define Table Columns
        { title: "area", field: "area" },
        { title: "type", field: "type" },
        { title: "unit", field: "unit" },
        { title: "name", field: "name" },
        { title: "discp", field: "discp" },
        { title: "d5", field: "d5" },
        // { title: "cadre", field: "cadre" },
        { title: "dscd", field: "dscd" },
        { title: "desig", field: "desig" },
        { title: "grade", field: "grade" ,formatter:function(cell, formatterParams){
       var value = cell.getValue();
       console.log(cell.getData())
       var cadre = cell.getData().CADRE
        if(cadre==='XCD'){
            return "<span style='color:red; font-weight:bold;'>" + value + "</span>";
        }else{
            return value;
        }
    }},
        { title: "tot", field: "tot", topCalc: "sum", },
        { title: "req", field: "req", topCalc: "sum", editor: "number" ,},
        { title: "san", field: "san", topCalc: "sum", editor: "number",color:"green" },
        { title: "remark", field: "remark", editor: "input",color:"green" },
    ],
    // persistenceID: "example1", //id string, can only be numbers, letters, hyphens and underscores.
    // persistentLayout: true,
    movableColumns: true,
    // movableRows: true, 
    groupBy: ["area", "unit","d5"],
    groupClosedShowCalcs: true,
    groupHeader: [
        function(value, count, data) { //generate header contents for color groups
            return value + "<span style='margin-left:10px;'>(" + count + " item)</span>";
        },
        function(value, count, data) { //generate header contents for color groups
            return value + "<span style='margin-left:10px;'>(" + count + " item)</span>";
        },
    ],
    // rowUpdated: function(row) {
    //     console.log(row)
    // },
    cellEdited: function(cell) {
        //cell - cell component
        data = cell.getData()
        $.post({
            type: "POST",
            url: "update_sanction",
            data: data,
            success: function (result) {
                    console.log(result)
            },
            error:function() { alert("error occurred while updating "); }
        });
    }


    // rowClick:function(e, row){ //trigger an alert message when the row is clicked
    //     alert("Row " + row.getData().id + " Clicked!!!!");
    // },
});
 $("#add-row").on("click", function(e) {
            $('.ui.modal').modal('show')
        });
    $('.cancel').on("click", function(e) {
        $('.ui.modal').modal('hide')
    })

    $(".confirm_order").click(function(e) {
        // console.log(x)
        var req = $("#entry_req").val();
        var san = $("#entry_san").val();
        var dscd = $('.dscd_drop').dropdown('get value')
        var unit = $('.unit_drop').dropdown('get value')
        data = {"dscd":dscd,"unit":unit,"req":req,"san":san, "remark":""}
        alert(data)
        $.post({
            type: "POST",
            url: "update_sanction",
            data: data,
            success: function (result) {
                    console.log(result)
                    $("#example-table").tabulator("addRow", data);
            },
            error:function() { alert("error occurred while updating "); }
        });
    });

$('.dscd_drop').dropdown({
    values: dscd_data
  });
$('.unit_drop').dropdown({
    values: unit_data
  });


//load sample data into the table
$("#example-table").tabulator("setData", tabledata);
</script>
{% endblock %}